/* src/index.css */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden; 
}

html {
  width: 100%;
  overflow-x: hidden; 
}

* {
  box-sizing: border-box; 
}
