/* src/index.css */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden; /* Evita o estouro horizontal */
}

html {
  width: 100%;
  overflow-x: hidden; /* Garante que o HTML não crie barra lateral */
}

* {
  box-sizing: border-box; /* Inclui padding e border na largura total */
}
